<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>List Of Videos</title>
</head>
<body>
    <header>
        <div class="videos-header">
            <div class="void">
            </div>
            <div class="pythonImg-box">
                <a href="{% url 'list_course' %}"><img src="{% static 'img/python.png' %}" alt="python" class="pythonImg"></a>
            </div>
            <div class="logoutBtn">
                <a href="./login.html"><button class="logout">Logout</button></a>
            </div>
        </div>
    </header>
    <main>
        <section class="videoLessons container">
            <h1>Video darslar</h1>
            {% for course in all_courses %}
                <a href="{% url 'detail_course' course.id %}"><div class="lesson lesson1">{{ course.title }}</div></a>

            {% endfor %}
            
        </section>
    </main>
</body>
</html>