<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <title>Register</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <section class="registration ">
        <div class="registerText">
            <a href="{% url 'index' %}"><img src="{% static 'img/python.png' %}" alt=""></a>
            <h2>Registratsiya</h2>
            <input name="username" type="text" placeholder="Username"><br><br>
            <input name="password1" type="password" placeholder="Password"><br><br>
            <input name="password2" type="password" placeholder="Confirmation password">
            <br><br>
            <button type="submit" class="registerBtn mainBtn">Registratsiya qilish</button>
        </div>
        <div class="registerImg"><img src="{% static 'img/Rectangle 5.png' %}" alt=""></div>
    </section>
</form>
</body>
</html>